/* Setting-up */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

/* Phone */
/* First Div */
.first-div {
    background-image: url(bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: hsla(192, 100%, 96%, 0.637);
    display: flex;
    flex-direction: column;
}

.first-div .header {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px 40px;
}

.header .logo {
    width: auto;
    height: 18px;
}

.header .CTA-try {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: none;
    padding: 5px 25px;
    border-radius: 20px;
    box-shadow: 0px 3px 10px #70707073;
}

.CTA-try:hover {
    opacity: 0.7;
    cursor: pointer;
}

.first-div .title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 25px;
    margin: 20px;
}

.first-div .explanation {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    margin: 0px 15px 30px;
    font-weight: 400;
}

.btn {
    text-align: center;
}
.CTA-signup {
    text-align: center;
    font-size: 15px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: hsl(322, 100%, 66%);
    border: none;
    margin: 20px auto 50px;
    padding: 15px 40px;
    border-radius: 25px;
    justify-content: center;
}
.CTA-signup:hover {
    opacity: 0.7;
    cursor: pointer;
}

.mockup-img {
    width: 100%;
    height: auto;
    padding: 0px 15px;
}

/* Second Div */
.second-div {
    display: flex;
    flex-direction: column;
}

/* Wrapper */
.second-div .wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 35px;
    height: auto;
    border-radius: 25px;
    box-shadow: 0px 3px 10px #70707073;
}

/* Controlling double image */
.desktopimg {
    display: none;
}
.illustration {
    padding: 20px;
}
/* ============================ */

/* Wrapper Content */
.headline {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    text-align: center;
    color: black;
    padding: 30px 20px 0px;
}

.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    text-align: center;
    color: hsl(209, 47%, 34%);
    padding:  15px 20px 20px;
}

/* CTA */
.cta {
    position: absolute;
    width: 90%;
    left: 0;
    right: 0;
    background-color: white;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 25px;
    box-shadow: 0px 3px 10px #70707073;
}

.content {
    padding: 25px 10px;
}

.action {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    text-align: center;
    color: black;
    padding: 10px auto 0;
}

.started {
    display: flex;
    justify-content: center;
    font-size: 12px;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    background-color: hsl(322, 100%, 66%);
    border: none;
    margin: 20px auto 10px;
    padding: 15px 50px;
    border-radius: 25px;
}
.started:hover{
    opacity: 0.7;
    cursor: pointer;
}

/* Footer */
footer {
    background-color: hsl(192, 100%, 9%);
    display: flex;
    flex-direction: column;
    color: hsl(193, 100%, 96%);
    margin-top: 100px;
}

.footer .whitelogo {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    width: 200px;
    height: 30px;
    margin: 150px 20px 30px;
}

.footer .location, .telephone, .mail {
    display: flex;
    flex-direction: row;
    padding: 10px 0px 10px 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.address, .phone, .email {
    padding-left: 10px;
}

.details {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px; 
    padding-left: 20px;
    padding-top: 20px;
    list-style: none;
}

.details li {
    padding-top: 20px;
}

.details li:hover {
    cursor: pointer;
    text-decoration: underline;
}

.socmed {
    display: flex;
    justify-content: center;
}

.fa {
    width: 40px;
    height: 40px;
    margin: 20px 10px auto;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border: 1px solid white;
    padding: 10px;
    border-radius: 50%;
  } 
  .fa:hover {
    color:hsl(322, 100%, 66%);
    border: 1px solid hsl(322, 100%, 66%);
    cursor: pointer;
}  

.copyright {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 12px;
    padding: 20px 0px;
}

.watermark {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 12px;
    padding: 10px 0px;
}
.watermark a {
    color: white;
    text-decoration: none;
}

/* Desktop */
@media screen and (min-width:768px) {
/* First Div */
.first-div {
    padding: 25px 50px;
    background-image: url(bg-hero-desktop.svg);
}

    .header .CTA-try {
        font-size: 12px;
        padding: 5px 50px;
    }

    .wrap {
        display: flex;
        padding-top: 30px;
    }

    .first-div .title {
        text-align: left;
        font-size: 40px;
    }
    .first-div .explanation {
        text-align: left;
        padding-right: 100px;
    }
    .btn {
        text-align: left;
        padding-left: 20px;
    }

    .mockup-img {
        width: auto;
        height: 500px;
    }
/* Second Div */
    /* Wrapper */
    .second-div .wrapper {
        flex-direction: row;
        margin: 30px 90px;
    }
    
    /* Controlling double image */
    .illustration {
        display: none;
    }
    .desktopimg {
        display: flex;
        width: auto;
        height: 350px;
    }
    /* ============================ */

    /* Wrapper Content */
    .content1 {
        display: flex;
        flex-direction: row-reverse;
        padding: 50px;
    }
    .content2 {
        display: flex;
        flex-direction: row;
        padding: 50px;
    }
    .content3 {
        display: flex;
        flex-direction: row-reverse;
        padding: 50px;
    }
    .write {
        display: flex;
        flex-direction: column;
    }

    .headline, .description {
        text-align: left;
        margin: 0 50px;
    }
    .headline {
        font-size: 30px;
        padding-top: 100px;
    }
    .description {
        margin-right: 100px;
    }

    /* CTA */
    .cta {
        width: 50%;
    }

    .content {
        padding: 40px auto;
    }

    .action {
        font-size: 30px;
    }

    .started {
        font-size: 18px;
        border-radius: 30px;
        padding: 20px 60px;
    }

    /* Footer */
    footer {
        margin-top: 120px;
    }

    footer .fill {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .details {
        display: flex;
    }

    .details li {
        padding: 0px 100px;
    }

    .whatwedo, .faq, .blog, .contactus {
        margin-top: 15px;
    }

    .copyright {
        text-align: right;
        padding-right: 50px;
    }
}