/* Setting-up */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

/* Phone */
/* First Div */
.first-div {
    background-image: url(bg-hero-mobile.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-color: hsla(192, 100%, 96%, 0.637);
    display: flex;
    flex-direction: column;
}

.first-div .header {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px 40px;
}

.header .logo {
    width: auto;
    height: 18px;
}

.header .CTA-try {
    font-size: 10px;
    font-family: 'Poppins', sans-serif;
    background-color: white;
    border: none;
    padding: 5px 25px;
    border-radius: 20px;
}

.first-div .title {
    font-family: 'Poppins', sans-serif;
    text-align: center;
    font-size: 25px;
    margin: 20px;
}

.first-div .explanation {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    font-size: 18px;
    margin: 0px 15px 30px;
    font-weight: 400;
}

.first-div .CTA-signup {
    font-size: 18px;
    color: white;
    font-family: 'Poppins', sans-serif;
    background-color: hsl(322, 100%, 66%);
    border: none;
    padding: 15px;
    border-radius: 20px;
}

/* Desktop */
@media screen and (min-width:768px) {
    body {
        display: none;
    }
}